* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAE8EB;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #F6CACA;
  padding: 28px;
  width: 320px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.container h1 {
  margin-bottom: 20px;
  color:#0A014F;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.input-group input:focus {
  border-width: 2px;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  transform: translateY(0);
}

#result {
  margin-top: 18px;
  font-weight: bold;
  line-height: 1.4;
}

#calculateBtn{
    color:#0A014F;
}
